<a href="https://colab.research.google.com/github/antoniosql/cursoml/blob/master/demos/Demo_SMOTE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#https://archive.ics.uci.edu/ml/datasets/bank+marketing

import numpy as np

import pandas as pd

from sklearn.linear_model import LogisticRegression

from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score, confusion_matrix, recall_score

from imblearn.over_sampling import SMOTE

from imblearn.under_sampling import NearMiss

In [0]:

bank = pd.read_csv("bank-full.csv", sep = ";", na_values = "unknown")

bank.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,NaN,5,may,261,1,-1,0,NaN,no
1,44,technician,single,secondary,no,29,yes,no,NaN,5,may,151,1,-1,0,NaN,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,NaN,5,may,76,1,-1,0,NaN,no
3,47,blue-collar,married,NaN,no,1506,yes,no,NaN,5,may,92,1,-1,0,NaN,no
4,33,NaN,single,NaN,no,1,no,no,NaN,5,may,198,1,-1,0,NaN,no

In [0]:
bank["default"] = bank["default"].map({"no":0,"yes":1})

bank["housing"] = bank["housing"].map({"no":0,"yes":1})

bank["loan"] = bank["loan"].map({"no":0,"yes":1})

bank["y"] = bank["y"].map({"no":0,"yes":1})

bank.education = bank.education.map({"primary": 0, "secondary":1, "tertiary":2})

bank.month = pd.to_datetime(bank.month, format = "%b").dt.month

In [0]:

bank.isnull().sum()

In [0]:
bank.drop(["poutcome", "contact"], axis = 1, inplace = True)

bank.dropna(inplace = True)

bank = pd.get_dummies(bank, drop_first = True)

In [0]:
bank.y.value_counts()

0    38172
1     5021
Name: y, dtype: int64

In [0]:
X = bank.drop("y", axis = 1)

y = bank.y


X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, stratify=y)

In [0]:
y_train.value_counts()

lr = LogisticRegression()

lr.fit(X_train, y_train)



y_pred = lr.predict(X_test)

In [0]:
accuracy_score(y_test, y_pred)

In [0]:
confusion_matrix(y_test, y_pred)

array([[9370,  174],
       [ 981,  274]])

In [0]:
recall_score(y_test, y_pred)

In [0]:
#SMOTE-----------------------------------------------------------------------------------


X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1, stratify=y)



smt = SMOTE()

X_train, y_train = smt.fit_sample(X_train, y_train)

In [0]:
np.bincount(y_train)

In [0]:
lr = LogisticRegression()

lr.fit(X_train, y_train)



y_pred = lr.predict(X_test)

In [0]:
accuracy_score(y_test, y_pred)

0.8029447171034355

In [0]:
confusion_matrix(y_test, y_pred)

array([[7662, 1882],
       [ 246, 1009]])

In [0]:

recall_score(y_test, y_pred)

0.80398406374502